#rules-btn {
  position: absolute;
  left: auto;
  right: 2rem;
  bottom: 2rem;
  padding-left:  4rem;
  padding-right: 4rem;
}

#result-pane {
  order: 1;
}

#high-noon {
  flex-wrap: nowrap;
}

/* for each column flex make gap by  vh */